<nav class="navbar my-navbar-style" role="navigation"> 
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand my-logo" href="{{ urlFor('home') }}"> {#var arī {{ baseUrl }}#}
                <img src="/img/logo.png" alt="Racing Green">
            </a>
            
            <div class="my-social-buttons">
                <ul class="nav navbar-nav">
                    <li><a href="#facebook"><img src="/img/btn-facebook.png" alt="Facebook"/></a></li>
                    <li><a href="#ebay"><img src="/img/btn-ebay.png" alt="eBay"/></a></li>
                </ul>
            </div>
            
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav my-header-menu">
                <li {% if active == 'home' %} class="active" {% endif %}>
                    <a href="{{ urlFor('home') }}">Home</a>
                </li>
                <li {% if active == 'company' %} class="active" {% endif %}>
                    <a href="{{ urlFor('company') }}">Company</a>
                </li>
                <li {% if active == 'products' %} class="active" {% endif %}>
                    <a href="{{ urlFor('products') }}">Products</a>
                </li>
                <li {% if active == 'contacts' %} class="active" {% endif %}>
                    <a href="{{ urlFor('contacts') }}">Contacts</a>
                </li>
            </ul>
            
            <form class="navbar-form my-search-style" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>
            
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
